div{
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}


input{
  border-radius: 30px 0 0 30px;
  border: 2px solid rgb(0, 0, 0);
  height: 3rem;
  width: 20rem;
  background-color: #f0f0f0;
  padding: 1.2rem;
  font-size:  1rem;
  font-weight: 500;
  outline: none;
  opacity: 0.8;
}

div button{
  height: 3rem;
  width: 5rem;
  font-size: 1rem;
  border-radius: 0 30px 30px 0;
  border: 2px solid rgb(0, 0, 0);
  color: white;
  opacity: 0.8;
  outline: none;
  background-color: black;

}

div button:hover{
  opacity: 1;
  cursor: pointer;
}
